body,
.bg-header-con,
.ma-menu .container {
  background: #f0f0f0;
  color: #333333;
  font-size: 13px;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
/* custom bootstaps */
ul {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
  }
}
.container {
  max-width: 1230px;
  padding-right: 0;
  padding-left: 0;
}
.container-inner {
  padding: 10px 0;
}
h3 {
  font-size: 14px;
  line-height: 39px;
}
img {
  max-width: 100%;
}
a {
  color: #adadad;
  text-decoration: none;
  transition: all 300ms ease-in 0s;
}
.menu-top {
  .navbar {
    position: initial;
    display: initial;
    display: initial;
    -ms-flex-wrap: initial;
    flex-wrap: initial;
    -ms-flex-align: initial;
    align-items: initial;
    -ms-flex-pack: initial;
    justify-content: initial;
    padding: initial;
    .dropdown-menu {
      a {
        padding: 0;
      }
    }
  }
  .dropdown-menu {
    position: initial;
    top: initial;
    left: initial;
    z-index: initial;
    display: initiale;
    float: initial;
    min-width: initial;
    padding: initial;
    margin: initial;
    font-size: initial;
    color: initial;
    text-align: initial;
    list-style: initial;
    background-color: initial;
    background-clip: initial;
    border: initial;
    border-radius: initial;
    display: initial;
  }
}

p {
  margin: 0 0 10px;
}
input,
select,
textarea,
button {
  font-size: 12px;
  color: #545759;
  background-color: white;
  border: 1px solid #ebebeb;

  padding-left: 10px;
  padding-right: 10px;
  outline: none;
}
/*==== header ======*/
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.header {
  // banner-top

  .top-banner {
    background-color: #ed9d35;
  }
  .topbar {
    padding-bottom: 15px;
  }
  .nav-links {
    li {
      &:last-child {
        border-right: none;
      }
      display: inline-block;
      zoom: 1;
      line-height: 15px;
      margin-right: 10px;
      padding-right: 12px;
      border-right: 2px solid #e6e6e6;
      vertical-align: bottom;
    }
  }
  .header-right {
    .header-link {
      // margin-left: -30px;
    }
    .nav-links {
      li {
        a {
          color: #666;
        }
      }
    }
  }
  .form-language {
    img {
      width: 20px;
    }
  }
  .pull-right {
    float: right;
  }
  .header-main {
    margin-bottom: 7px;
    .logo {
      float: left;
      text-decoration: none !important;
      width: 270px;
    }
    .form-search {
      padding: 4px 0;
      height: inherit;
    }
    .ves-autosearch {
      margin-right: -5px;
      margin-left: 5px;
      height: 46px;
      position: relative;
      .search_box {
        border: none;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        display: inline-block;
        #search_mini_form {
          display: inline-block;
          width: 100%;
        }
        .search {
          display: inline-block;
          width: 100%;
        }
        #search {
          width: 100%;
          height: 40px;
          position: relative;
          margin: 0 !important;
        }
        .input-search {
          border: 2px solid #f7941e;
          -webkit-appearance: none;
        }
      }
      .button-search {
        color: #f7941e;
        border: 0;
        font-size: 18px;
        position: relative;
        top: -44px;
        width: 50px;
        height: 42px;
        line-height: 45px;
        text-align: center;
        float: right;
        left: 0;
        z-index: 3;
        cursor: pointer;
        &:before {
          content: "\f002";
        }
      }
    }
    .top-cart-contain {
      &:hover .top-cart-content {
        display: block;
      }
    }
    .cart-top {
      padding-left: 20px;
      position: relative;
      width: 100%;

      .shopping-cart-icon {
        background: url("/assets/img/m1.png") no-repeat center center;
        width: 58px;
        height: 64px;
        bottom: 0;
        position: absolute;
      }
      .cart-total {
        color: white;
        padding-left: 50px;
        height: 60px;
        h3 {
          line-height: 18px;
          text-transform: uppercase;
          color: #f7941e;
          font-size: 12px;
          padding-top: 20px;
        }
      }
    }
    .top-cart-content {
      display: none;
      margin-top: -6px;
      width: 400px;
      position: absolute;
      top: 50px;
      right: 0;
      border: 2px solid #d9dde3;
      background: #fff;
      padding: 15px;
      text-align: left;
      .top-subtotal {
        float: left;
        margin: 15px 0 0;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: normal;
      }
      .top-subtotal span {
        font-size: 15px;
      }
    }
  }
}
// start mega menu
#ves-verticalmenu {
  z-index: 999;
  margin-bottom: 0 !important;
  background: #555;
  position: relative;
  &:hover {
    .notHome {
      display: block;
    }
  }
  .notHome {
    display: none;
  }
}
.block {
  .block-title {
    width: 100%;
    padding: 0 20px;
    letter-spacing: 0;
    border-bottom: 0;
    min-height: 45px;
    line-height: 45px;
    color: #6a6a6a;
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
  }
  span {
    color: white;
    display: inline-block;
    zoom: 1;
    font-size: 16px;
    font-weight: lighter;
    position: relative;
  }
}
.block-content {
  display: block;
  visibility: visible;
  position: absolute;
  width: 100%;
  .navbar-nav > li {
    width: 100%;
    height: auto;
    position: static;
    padding: 0px;
    &:hover {
      a {
        &::before {
          -webkit-transform: scaleX(1);
          transform: scaleX(1);
          -webkit-transition-timing-function: cubic-bezier(
            0.52,
            1.64,
            0.37,
            0.66
          );
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
        }
      }
    }
    > a {
      span {
        color: #444;
        font-size: 13px;
      }
      display: block;
      padding: 12px 10px 13px 20px;
      -webkit-transition-duration: 0.5s;
      transition-duration: 0.5s;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      -webkit-transition-property: color;
      transition-property: color;
      line-height: 22px;
      &:hover {
        span {
          color: white !important;
        }
        .caret {
          &:after {
            color: #fff;
          }
        }
      }
      &::before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f7941e;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 50%;
        -moz-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }
      .caret {
        border: 0;
        position: absolute;
        right: 20px;
        top: 30%;
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 2px;
        vertical-align: middle;
        &:after {
          content: "+";
          position: absolute;
          color: #555;
          right: 0;
          font-weight: 400;
        }
      }
    }
  }
  #verticalmenu {
    background: #fff;
    .parent {
      &:hover .dropdown-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  .dropdown-menu {
    position: absolute;
    left: 100%;
    text-align: left;
    top: 0;
    visibility: hidden;
    min-height: 100%;
    height: 400px !important;
    min-width: 300px;
    width: 960px !important;
    padding: 20px;
    opacity: 0;
    border-radius: 0;
    -webkit-box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0 4px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    background: white;
    background-position: right bottom;
    z-index: 1001;
    .dropdown-menu-inner {
      padding: 10px;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        border: 0 !important;
        line-height: normal;
        list-style: none;
        width: 100%;
        display: inline-block;

        span {
          a {
            span {
              color: #ff6600;
              font-size: 12px;
              font-style: italic;
            }
          }
        }
        a {
          text-decoration: none;
          cursor: pointer;
          color: #444444;
          font-size: 12px;
          padding: 0;
          text-align: left;
        }
      }
    }
    .row {
      .mega-col {
        padding: 0 5px;

        h3 {
          margin-bottom: 0;
          .tim {
            color: #ff0000;
          }
          > span {
            color: #333;
            a {
              span {
                font-weight: bold;
                font-size: 13px;
                color: #333;
              }
            }
          }
        }
      }
    }
  }
}
// end mega menu
#ves-mainnav {
  .navbar {
    background: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    min-height: 40px;

    .navbar-nav {
      display: block;
      width: 100%;
      float: left;
      li {
        padding: 0 !important;
        float: left;
        position: relative;
        display: block;
        &:hover {
          a {
            .menu-title {
              &::before {
                width: 20px;
                -webkit-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
              }
            }
          }
        }
        a {
          line-height: 45px;
          padding: 0 18px;
          &:hover {
            text-decoration: none;
          }
          .menu-title {
            font-size: 15px;
            color: #555 !important;
            background-color: transparent !important;
            position: relative;
            padding-left: 15px;
            &:before {
              content: "";
              background: #f7941e;
              width: 0;
              height: 2px;
              position: absolute;
              left: 0;
              right: 0;
              bottom: -6px;
              margin: auto;
              -webkit-transition: all 0.3s ease-in-out 0s;
              transition: all 0.3s ease-in-out 0s;
            }
          }
        }
      }
    }
  }
}

// Admin-CSS
.headerAdmin {
  position: relative;
  height: 55px;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-bottom: 1px solid #c8ced3;
  display: flex;
  align-items: center;
  .logo {
    margin-left: 15px;
    img {
      max-width: 130px;
    }
  }
  .btnToggle {
    margin-left: 30px;
    img {
      width: 26px;
    }
  }
}
.adminContent {
  display: flex;
  position: relative;
  .sidebar {
    ::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      border-radius: 10px;
      background-color: #f5f5f5;
    }

    ::-webkit-scrollbar {
      width: 12px;
      background-color: #f5f5f5;
    }

    ::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: #555;
    }
    nav {
      width: 200px;
      background: #2f353a;
      height: 100vh;
      position: fixed;
      z-index: 1019;
      overflow-y: auto;
      top: 55px;
      bottom: 0;
    }

    ul {
      padding: 0;
      li {
        list-style: none;
        position: relative;
        &.parent {
          > a {
            position: relative;
            display: flex;
            align-items: center;
            &:after {
              content: "";
              background: url("/assets/img/arrow.svg") no-repeat;
              display: block;
              width: 10px;
              height: 10px;
              position: absolute;
              color: #fff;
              right: 15px;
              align-items: center;
            }
          }
          &.active {
            > a {
              background: #20a8d8;
              &:after {
                transform: rotate(-90deg);
              }
            }
          }
        }
        a {
          display: block;
          padding: 0.75rem 1rem;
          color: #fff;
          text-decoration: none;
          background: 0 0;
          font-size: 0.875rem;
          &.active {
            color: #fff;
            background: #3a4248;
          }
          &:hover {
            background: #20a8d8;
          }
        }
        .nav-dropdown-items {
          display: none;
          li {
            a {
              padding-left: 30px;
            }
          }
        }
      }
    }
  }
  .main {
    margin-left: 200px;
  }
}
// Register
small,
big {
  font-size: 1em;
}
.account-create {
  .register-success {
    background: #fff;
    padding-bottom: 50px;
    h1 {
      text-align: center;
      padding-top: 30px;
      margin-bottom: 30px;
    }
    button {
      width: 100%;
      max-width: 200px;
      margin: 0 auto;
      display: block;
      padding: 20px 0;
      border: 1px solid #fdb608;
      transition: ease all 0.2s;
      &:hover {
        background: #fdb608;
        color: #fff;
      }
    }
  }
  .form-content {
    background-color: white;
    text-align: center;
    padding: 10px 0px;
  }
  .back-link {
    text-align: left;
    padding-left: 20px;
    small {
      color: #c00;
    }
    a {
      color: #c00 !important;
    }
  }
  .page-title {
    text-align: center;
    border-bottom: 0px !important;

    h1 {
      color: black !important;
      font-weight: bold;
      font-size: 20px;
      font-family: "Poppins", sans-serif;
      text-transform: uppercase;
    }
  }
  .form-list {
    li {
      overflow: hidden;
      padding: 5px 3px;
      .input-box {
        display: block;
        clear: both;
        width: 260px;
        .validation-advice {
          color: #c83a3a;
          min-height: 20px;
          padding-left: 15px;
          padding-top: 6px;
          text-align: left;
          margin: 3px 0 0;
          font-size: 13px;
          font-weight: normal;
          line-height: 13px;
          clear: both;
        }
        .custom-title-input {
          float: left;
          line-height: 30px;
        }
        .input-birthday {
          position: static !important;
          &:after {
            display: none;
          }
        }
        .dropdownfhs {
          width: 100px !important;
          display: inline-block;
          position: relative;
          clear: none;
          float: left;
          margin-left: 10px;
          &:after {
            background: white;
            position: absolute;
            content: "\f0d7";
            font-family: FontAwesome;
            z-index: 1;
            right: 1px;
            width: 15px;
            top: 1px;
            height: 92%;
            text-align: center;
            padding-top: 4px;
            pointer-events: none;
          }
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            padding: 1px !important;
            margin: 0 !important;
            height: 30px;
            width: 100% !important;
            min-width: 100px;
            text-align: left !important;
            border: 1px solid #929191 !important;
            color: #646464 !important;
            text-indent: 2px;
          }
        }
        input {
          border: none !important;
          border-bottom: 1px solid #ababab !important;
          background-color: white !important;
          border-radius: 0px !important;
          height: 20px !important;
          line-height: 25px !important;
          font-size: 14px;
          width: 300px;
          min-height: 32px;
          padding-left: 5px !important;
          margin-bottom: 5px;
        }
      }
    }
  }
  .btn-div {
    padding: 20px 0;
  }
  .button {
    overflow: visible;
    width: auto;
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
    span {
      font-family: sans-serif;
      display: inline-block;
      color: white;
      background-color: #f7941e;
      border: none;
      padding: 10px 20px;
      border-radius: 3px;
      text-align: center;
      white-space: nowrap;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
// Login

.account-login {
  .validation-advice {
    color: #c83a3a;
    font-size: 12px;
  }
  .formblockwbg {
    background: #f7941e;
    padding: 30px;
    text-align: center;
  }
  .form-edit-center {
    margin: 0 auto;
    background: white;
    padding: 30px;
  }
  .login-form {
    p {
      color: #888888;
      text-align: center;
    }
    .page-title {
      width: 100%;
      overflow: hidden;
      margin: 0 0 15px;
      text-align: center;
      h1 {
        color: black !important;
        font-weight: bold;
        font-size: 20px;
        font-family: "Poppins", sans-serif;
        text-transform: uppercase;
        line-height: 36px;
      }
    }
    .form-group {
      .form-list {
        .input-box {
          display: inline-block;
          width: 100%;

          label {
            padding-top: 18px;
            float: left;
            color: #888888;
            font-style: italic;
            display: block;
            font-weight: normal;
            position: relative;
            z-index: 0;
            font-size: 14px;
            vertical-align: text-bottom;
            margin-bottom: 2px;
          }
          input {
            padding: 0;
            margin-bottom: 5px;
            min-height: 35px !important;
            border-radius: 0px;
            width: 70% !important;
            float: right;
            border: none !important;
            background-color: white !important;
            border-bottom: 1px solid #929191 !important;
            color: #333 !important;
            height: 20px !important;
            font-size: 15px;
            padding-left: 5px !important;
          }
        }
      }
    }
    .block-button {
      display: inline-grid;
      border: none;
      width: 100%;
      padding-top: 100px;
      button {
        overflow: visible;
        width: auto;
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        cursor: pointer;
        span {
          color: white;
          background-color: #f7941e;
          border: none;
          padding: 10px 20px;
          text-align: center;
          white-space: nowrap;
          text-transform: uppercase;
          font-weight: bold;
          display: block;
          border-radius: 3px;
          &:hover {
            background: #c00;
          }
        }
      }
    }
    .button-rp {
      background: none;
      color: #c00 !important;
      display: block;
      text-align: center;
    }
    .create-acc {
      padding-top: 20px;
      border-top: 1px solid #8b8888;
      margin-top: 20px;
      a {
        overflow: visible;
        width: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        background: transparent;
        text-decoration: none;
        cursor: pointer;
        span {
          background-color: black;
          color: white;
          border: none;
          padding: 10px 20px;
          border-radius: 3px;
          display: block;
          font-weight: bold;
          text-align: center;
          white-space: nowrap;
          text-transform: uppercase;
        }
      }
    }
  }
}

// banner-home
.HomeSlider {
  &:hover {
    .owl-nav {
      display: block;
    }
  }
  .owl-nav {
    // display: none;
    position: absolute;
    width: 100%;
    top: 50%;
    background: red;
    transform: translateY(-50%);

    margin-top: -33px !important;
    button {
      position: absolute;
      outline: 0px none;
      margin: 0 !important;
      span {
        width: 33px;
        height: 48px;
        text-indent: -9999px;
        background: url(/assets/img/prev-home-slider.png);
        display: inline-block;
      }
      &.owl-next {
        right: 0;
        span {
          background: url(/assets/img/next-home-slider.png);
        }
      }
      &.owl-prev {
        left: 0;
      }
    }
  }
}
.banner-home {
  padding-top: 30px;
}
.customTab {
  margin-top: 30px;
  position: relative;
  &.tabHomeCustom {
    &:nth-of-type(2n) {
      .tab-content {
        .banner-tab-custom {
          float: right;
        }
        .owl-carousel {
          float: left;
        }
        .tabs-xem-them {
          width: 66.66666666666666%;
        }
      }
    }
    .tab-content {
      background: #fff;
      padding-top: 30px;
      .custom-owl {
        padding: 0;
      }
    }
    .banner-tab-custom {
      display: block;
      opacity: 1;
      width: 33.33333333333333%;
      float: left;
      padding-left: 40px;
    }
    .owl-carousel {
      width: 66.66666666666666%;
      float: right;
    }
    .item-inner {
      .wrap-item {
        display: flex;
        .products {
          padding: 20px;
        }
      }
    }
  }
  .tabslider-title {
    top: 8px;
    left: 0;
    position: absolute;
    margin-left: 13px;
    font-size: 19px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  .nav {
    &.nav-tabs {
      justify-content: flex-end;
      min-height: 45px;
      background: #fff;
      border-bottom: 1px solid #ddd !important;
      width: 100% !important;
      .nav-item {
        border: none;
        padding: 11px 17px;
        font-size: 14px;
        &:hover {
          color: #f7931e;
        }
        &.active {
          background: none;
          color: #f7931e;
        }
      }
    }
  }
  .tab-content {
    .custom-owl {
      background: #fff;
      padding: 30px 15px 0;
    }
    .item-inner {
      position: relative;
      .label-pro-sale {
        background: url(/assets/img/sale40.png) no-repeat;
        display: inline-block;
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 10;
        top: 0px;
        font-size: 19px;
        font-weight: bold;
        color: transparent;
        .p-sale-label {
          font-weight: bold;
          margin-top: 19%;
          margin-left: -8px;
          font-size: 16px;
          color: white;
          display: block;
          text-align: center;
        }
      }
      .ma-box-content {
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
        .products {
          margin: 0 0 10px;
          display: block;
          .images-container {
            position: relative;
            overflow: hidden;
          }
        }
      }
      .product-name {
        width: 100%;
        margin: 0;
        font-weight: normal;
        line-height: 18px;
        display: inline-block;
        height: 1.3em;
        a {
          color: #333333;
          font-weight: normal;
          font-size: 14px;
          display: block;
          padding-top: 5px;
          height: inherit;
        }
      }
      .price-label {
        p {
          margin-bottom: 0;
        }
        .special-price {
          display: inline-block;
          zoom: 1;
          background-color: #f7931e !important;
          color: #fff;
          .price {
            font-size: 14px;
            min-height: 25px;
            padding: 3px;
          }
        }
        .old-price {
          .price {
            color: #888888;
            text-decoration: line-through;
            font-size: 13px;
          }
        }
      }
      .fhs-rating-container {
        min-height: 15px;
        margin-top: 4px;
        .ratings {
          display: inline-block;
          .rating-box {
            float: left;
            margin-right: 3px;
            margin-left: 0px;
            background: url(/assets/img/bkg_rating_hover_1.png) 0 -1px repeat-x;
            position: relative;
            text-indent: -999em;
            overflow: hidden;
            width: 80px;
            height: 14px;
            font-size: 0;
            line-height: 0;
            .rating {
              background: url(/assets/img/bkg_rating_hover_1.png) 0 100%
                repeat-x;
              height: 14px;
              left: 0;
              position: absolute;
              top: 0;
              float: left;
            }
          }
          .amount {
            font-size: 11px;
            color: #4a4a4a;
            position: relative;
            top: -2px;
            display: inline-block;
          }
        }
      }
    }
  }
  .tabs-xem-them {
    background: #fff;
    display: inline-block;
    width: 100%;
    a {
      float: right;
      padding-right: 15px;
      color: #ff9800;
      font-size: 14px;
      margin-bottom: 10px;
      text-decoration: none;
    }
  }
}

// footer
.ma-footer-static {
  margin-top: 30px;
  .copy {
    background: #fff;
    text-align: center;
    color: #adadad;
    padding-left: 14px;
  }
  .footer-static {
    .container-inner {
      background: #fff;
      .footer-static-title {
        border-color: gray;
        color: black;
        padding-bottom: 0px;
        margin-bottom: 10px;
        padding-left: 10px;
      }
      .custom-address {
        .footer-static-content {
          ul {
            li {
              clear: both;
              display: inline-block;
              padding-bottom: 15px;
              margin-bottom: 15px;
              padding-left: 10px;
              span {
                font-family: "OpenSansBold";
                color: #444;
                font-size: 13px;
                padding-right: 5px;
              }
              .fa {
                float: left;
                font-size: 16px;
                color: #7b7b7b;
                margin-right: 15px;
                padding-left: 5px;
                height: 34px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                border: 2px solid #7b7b7b;
              }
            }
          }
        }
      }
      .footer-static-content {
        ul {
          li {
            border-color: gray;
            color: black;
            border-bottom: 1px solid #393939;
            a {
              line-height: 40px;
              padding-left: 20px;
              color: black;
              &:hover {
                background-position: 0px -40px;
                padding-left: 25px;
                color: #ea7696;
              }
            }
          }
        }
      }
    }
  }
}
.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: all 0.5s ease-in;
}
